.homeIcons {
  color: red; 
  font-size: 5em;
}

.projectBody {
  display: flex;
  flex-direction: row;
  width:100%;
  flex-wrap: wrap; 
  padding: 2%
}

.cardBody {
  max-width: 345px;
  min-width: 345px;
  margin: 2%;
}

.cardMedia {
  width: 95%;
  height: 45%;
  padding-top: 56.25%;
  margin-left: 10px;
}

.projectAdds {
  margin: 5%;
  justify-content: center;
}

.badges {
  font-size: 2.3em;
  padding-left: 15px;
}

.pantryBadges {
  margin-top: 1px;
  color: #3e4fb7;
}

.smallBusinessBadges {
  margin-top: 1px;
  color: #3bb371;
}

.addressBadges {
  margin-top: 1px;
  color: #dba71a;
}

.dodgeBallBadges {
  margin-top: 1px;
  color: black;
}

.skills {
  font-size: 10px;
  color: grey;
}

.buttons {
  display: flex;
  margin-top: 10px;
  margin-bottom: 15px;
}

.pantryButtons {
  margin-bottom: 15px;
}
