h1, h4, h5, h6{
  color: white;
}

.general {
  color: white
}

.aboutPage {
  margin: 5%;
  padding: 2%;
}

.aboutName {
  margin-top: -3em;
  margin-left: 30%;
  justify-self: center;
  font-family: 'Open Sans', sans-serif, 'Bold';
  font-size: 75px;
  font-weight: 600;
  display: block;
  background-image: url('./projectImgs/backdrop.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.199);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.aboutQuote {
  display: block;
  margin-top: -3.2em;
  margin-left: 30%;
}

.profilePic {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  
}

.aboutBody {
  margin-top: 6em;
  padding: 2%;
}

.homepage {
  margin-top: 4%;
  text-align: center;
}

.name {
  display: inline-block;
  letter-spacing: 5px;
  margin-left: 7%;
  margin-bottom: 8%;
  font-size: 75px;
  font-family: 'Open Sans', sans-serif, 'Bold';
  background-image: url('./projectImgs/golden.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.199);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.iconDiv {
  display: inline-block;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-top: -2% ;
  margin-left: 1%;
}

/* update for media queries  */
.homeIcons {
  font-size: 72px;
  margin-left: 1em;
  margin-top: .5em;
  padding: 10px;
  background-image: url('./projectImgs/golden.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.199);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text; */
  /* need to change the left margin to exclude the first item */
}

.projectTitle {
  display: inline-block;
  width:100%;
  padding: 2%;
}

.projectBody {
  display: flex;
  flex-direction: row;
  width:100%;
  flex-wrap: wrap; 
  padding-left: 9%
}

.cardBody {
  max-width: 345px;
  min-width: 345px;
  margin: 2%;
}

.cardMedia {
  width: 95%;
  height: 45%;
  padding-top: 56.25%;
  margin-left: 10px;
}

.projectAdds {
  margin: 5%;
  justify-content: center;
}

.badges {
  font-size: 2.3em;
  padding-left: 15px;
}

.pantryBadges {
  margin-top: 1px;
  color: #3e4fb7;
}

.smallBusinessBadges {
  margin-top: 1px;
  color: #3bb371;
}

.addressBadges {
  margin-top: -2px;
  color: #dba71a;
}

.dodgeBallBadges {
  margin-top: 1px;
  color: black;
}

.pigLatinBadges {
  margin-top: 1px;
  color: #6d6966;
}

.silverSeaBadges {
  margin-top: 1px;
  color: #719996;
}

.clickBadges {
  margin-top: 1px;
  color: #6496ec;
}

.ticTacToeBadges {
  margin-top: 1px;
  color: #818181;
}

.nasaBadges {
  margin-top: 1px;
  color: #6f184b;
}

.mustacchioBadges {
  margin-top: 1px;
  color:  #6b6b6b;
}

.animateBadges {
  margin-top: 1px;
  color: #d48c2a;
}

.skills {
  font-size: 10px;
  color: grey;
}

.buttons {
  display: flex;
  margin-top: 5px;
  margin-bottom: 15px;
}

.pantryButtons {
  margin-bottom: 15px;
}

.sampleProfiles {
  margin-top: 20px;
  color: white;
}

/* need to change link colors */
