h1, h4, h5, h6{
  color: white;
}

.general {
  color: white
}


a {
  color:#f5f5f5a1;
  text-decoration: none;
  font-weight: 600;
}

a:visited {
  color: #4dcedfb9
}

a:hover {
  color: rgba(218, 165, 32, 0.603);
}

.homepage {
  margin-top: 4%;
  text-align: center;
  font-family: 'Open Sans', sans-serif, 'Bold';
  background-image: url('./projectImgs/golden.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.199);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.name {
  display: block;
  letter-spacing: 6px;
  margin-bottom: 8%;
  margin-left: 18px;
  text-align: center;
  font-size: 75px;
}

.title {
  color: white;
  font-size: 50px;
  margin-top: -1em;
  margin-bottom: 1.5em;
  font-family: 'Josefin Slab', serif;
  font-weight: 500;
}

.iconDiv {
  width: 100%;
  height: 200px;
  margin-top: -2% ;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.homeIcons {
  display: block;
  word-wrap: none;
  font-size: 100px;
  margin-top: .5em;
  margin-left: 1em;
  padding: 17px;
  color:rgba(245, 245, 245, 0.315);

}

.firstIcon:first-child {
  margin-left: -5.6em; 
}

.homeIcons:hover {
  color: rgba(218, 165, 32, 0.603);
}

.homeIcons:visited {
  color: #026f8593
}

.aboutPage {
  margin: 5%;
  padding: 5%;
  display: flex;
  flex-grow: 2;
}

.aboutName {
  width: 100%;
  justify-self: center;
  font-family: 'Open Sans', sans-serif, 'Bold';
  margin-top: -5%;
  margin-left: 4%;
  margin-bottom: .3em;
  font-size: 75px;
  font-weight: 600;
  z-index: -1;
  background-image: url('./projectImgs/backdrop.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.199);
  -webkit-background-clip: text;
  -webkit-background-size: 2650px 1440px;   
  -moz-background-clip: text;
          background-clip: text;
}

.aboutQuote {
  width: 100%;
  margin-left: 7%;
  margin-bottom: 2%;
}

.profilePic {
  width: 100%;
  height: 90%;
  border-radius: 150px;
  margin: 0;
  display: inline;
}

.aboutBody {
  margin-top: 4.5em;
  padding: 4%;
}

.project {
  width: 100vw;
  height: 100vh;
}

.projectTitle {
  display: inline-block;
  width:100%;
  padding: 2%;
}

.projectBody {
  display: flex;
  flex-direction: row;
  margin: 2%;
  flex-wrap: wrap; 
  margin-left: 7%;
}

.cardBody {
  max-width: 345px;
  min-width: 345px;
  margin: 2%;
}

.cardMedia {
  width: 95%;
  height: 45%;
  padding-top: 56.25%;
  margin-left: 10px;
}

.description {
  height: 2.5em;
}

.projectAdds {
  margin: 5%;
  justify-content: center;
}

.badges {
  font-size: 40px;
  padding-left: 15px;
  display: inline-flex;
  height: 1.2em;
}

.eachBadge {
  font-size: 35px;
  margin-top: 15px;
  margin-left: 15px;
  color: grey;
}

.button {
  display: flex;
  margin-top: 5px;
  margin-bottom: 15px;
}

.pantryBadges {
  margin-top: 1px;
  color: #3e4fb7;
}

.skills {
  font-size: 10px;
  color: grey;
}

.buttons {
  display: flex;
  margin-top: 5px;
  margin-bottom: 15px;
}

.pantryButtons {
  margin-bottom: 15px;
}

.codeSamples {
  width: 75%;
  margin-left: 12%;
}

.planning {
  width: 100%;
  height: 100%;
}

.planningPaper {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}

.planningTitle {
  margin-top: 4em;
  margin-left: 4em;
  margin-bottom: 2em;
}

.carousel {
  min-width: 500px;
  width: 75%;
  height: 100%;
  margin-left: 12%;
}

.planImg {
  width: 500px;
  height: 500px;
  margin-left: 17%;
  margin-top: 2%;
}

.planBody {
  height: 100%;
  width: 80%;
  margin-top: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
}

.sampleProfiles {
  margin-top: 2em;
  color: white;
}

.panel {
  flex-wrap: wrap;
  flex-grow: 2;
  color: white;
  width: 100vw;
}

@media all and (min-width: 752px) {

  .profilePic {
    margin: 0 auto;
    width: 50%;
    height: 75%;
    margin-right: 0;
  }

  .aboutName {
    font-size: 50px;
    margin-top: 15%;
    margin-left: -2em;
  }

  .aboutQuote {
    display: block;
    flex-direction: column;
    margin-left: -7em;
    margin-bottom: 5%;
  }
  
  .project {
    min-width: 375px;
  }
}

@media all and (min-width: 673px) {
  .aboutPage {
    display: flex;
    flex-wrap: wrap;
  }


}