h1, h4, h5, h6{
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  color:#f5f5f5a1;
  text-decoration: none;
  font-weight: 600;
}

a:visited {
  color: #4dcedfb9
}

a:hover {
  color: rgba(218, 165, 32, 0.603);
}

