@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@tailwind base;

/**
 * Begin global overrides.
 *
 * You can use `@apply` or `theme()` to access existing Tailwind CSS styles or variables.
 * (See https://tailwindcss.com/docs/adding-base-styles/#using-css)
 */

/* #background {
  display: inline-block;
  position: fixed;
  background-image: url(./assets/images/jelly.png);
  background-position: center;
  width: 100vw;
  height: 100vh;
  min-height: 400px;
} */


body {
  display: block;
  position: relative;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

#homeName {
  font-family: "Della Respira";
}

/* End global overrides. */

@tailwind components;
@tailwind utilities;
